@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

a:hover {
  color: #2980b9;
}

.container {
  width: 100%;
  text-align: center;
}

.user_info {
  display: flex;
}

.user {
  display: flex;
  border: 2px solid #333;
  padding: 20px;
  width: 20rem;
  margin: 10px;
}

.user p {
  margin-top: 20px;
  padding-left: 20px;
}

.img {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
}

.user_bio {
  border: 2px solid #333;
  text-align: start;
  padding: 10px;
  margin: 10px;
  width: 27.5rem;
}

.user_bio p {
  padding-top: 10px;
}

.post {
  border: 2px solid #333;
  text-align: start;
  padding: 10px;
  margin: 10px;
  width: 27.5rem;
}

.count {
  text-align: end;
}

.button {
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 12px;
  margin: 10px;
  padding: 15px;
  background-color: #333;
  color: #fff;
}
